/* Icons from directory "" */
.icon-fb1,.icon-fb1\:regular{background-image:url('icons/icons.svg');background-position:0 0;background-repeat:no-repeat}
.icon-fb1-dims{width:31px;height:30px}
.icon-tw1,.icon-tw1\:regular{background-image:url('icons/icons.svg');background-position:0 -30px;background-repeat:no-repeat}
.icon-tw1-dims{width:31px;height:30px}
.icon-vk1,.icon-vk1\:regular{background-image:url('icons/icons.svg');background-position:0 -60px;background-repeat:no-repeat}
.icon-vk1-dims{width:32px;height:30px}