.career {
	@extend %clearfix;
}

.career-title {
	color: $black;
	margin-bottom: 30px;
	font-size: 1.9444rem;
	font-weight: 500;
}

.career__left {
	float: left;
	width: 32%;
}

.career__right {
	float: right;
	width: 68%;
}

.career__picture {
	overflow: hidden;
	border-radius: 9px;
}

 .career__img {
 	display: block;
 	max-width: 100%;
 }

.career__list {
	text-align: right;
}

.career__item {
	padding-left: 70px;
}

.career__item {
  	&:hover .career__year {
  	color: $blue;
	font-weight: 600;
  	}
  	&:hover .career__year:after {
  		border-color: #94e0f2;
  	}
  	&:hover .career__block {
  		background-color: $blue;
  	}
  	&:hover .career__title {
	color: #fff;
	}
	&:hover .career__date {
	color: #fff;
	}
	&:hover .career__occupation {
	color: #fff;
	}
	&:first-child .career__block:before, &:last-child .career__block:after {
		display: none;
	}	 	 	
}

.career__block {
	border-radius: 10px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
	width: 380px;
	box-sizing: border-box;
	padding: 20px;
	display: inline-block;
	text-align: left;
	position: relative;
	margin-bottom: 20px;

  &:before, &:after {
	content: "";
	display: block;
	width: 1px;
	background: #ddd;
	position: absolute;
	right: 100%;
	margin-right: 20px;
	}
	&:before {
		top: 0;
		bottom: 50%;
	}
	&:after {
		top: 50%;
		bottom: -25px;
	}
}

.career__title {
	font-size: 1.1667rem;
	color: #5a5a5a;
	margin-bottom: 10px;
}

.career__occupation, .career__date {
  font-weight: 300;
  color: #727272;
  margin-bottom: 10px;
}

.career__date {
	margin-bottom: 0;
}

.career__year {
	position: absolute;
	top: 50%;
	right: 100%;
	font-weight: 400;
	margin-right: 35px;
	font-size: 0.9rem;
	color: #727272;
	line-height: 28px;
	margin-top: -14px;
		&:after {
			content: "";
			width: 10px;
			height: 10px;
			display: block;
			border-radius: 50%;
			background-color: $blue;
			position: absolute;
			right: -25px;
			top: 50%;
			margin-top: -10px;
			border: 5px solid $white;
			z-index: 10;
		}
}

